.table {
    width: 89%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.triviaForm {
    width: 58%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    border-radius: 5px;
}